@font-face {
  font-family: "Inter";
  src: url("inter.regular.ttf") format("truetype"); /* format tells the browser it's a .ttf-file before opening it */
  font-weight: 400;
  font-display: swap; /* Renders downloaded font on user's device before loading website font */
}

@font-face {
  font-family: "Inter";
  src: url("inter.18pt-medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("inter.18pt-semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;

  --font-size-xs: 0.75rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;

  --line-height: 1.5;

  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 2rem;
  --spacing-3xl: 3.5rem;

  --border-radius-s: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 6.25rem;

  --brand-primary: #007bcf;
  --brand-secondary: light-dark(#007bcf, #044e89);

  --primary-pressed: #005894;

  --status-good: #00d794;
  --status-medium: #ffbd00;
  --status-high: #ff7b00;
  --status-dangerous: #ff2727;

  --status-good-bg: light-dark(#d9f9ef, #111e32);
  --status-medium-bg: light-dark(#f9f6d9, #111e32);
  --status-high-bg: light-dark(#f9e8d9, #111e32);
  --status-dangerous-bg: light-dark(#f9d9d9, #111e32);

  --alert-danger-bg: light-dark(#ffe5e6, #3b1a1a);
  --alert-danger-border: #f00;

  --background-primary: light-dark(#fff, #08142e);
  --background-secondary: light-dark(#fff, #111e32);

  --border-dropdown: light-dark(#007bcf, #00558e);
  --border-components: light-dark(#e5e5e5, #212c43);

  --text-primary: light-dark(#000, #fff);
  --text-secondary: light-dark(#808080, #838996);
  --text-brand-logo: light-dark(#404040, #c1c4cb);
  --text-primary-inverse: #fff;

  --button-primary: light-dark(#fff, #0f2241);
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  font-weight: 400; /* Sets baseline for inheritance */
  line-height: var(--line-height);
  list-style: none;
}

main {
  margin: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}
